/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
    MISC
\*------------------------------------*/
::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

a {
  display: block;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

body, html {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, p, a {
  font-family: "proxima-nova", sans-serif;
  line-height: 1.3em;
  position: relative;
}

h1 {
  font-size: 2.625em;
  letter-spacing: 3px;
  font-weight: 100;
  text-shadow: 1px 1px 1px black;
}

h2 {
  font-size: 2.375em;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 10px;
}

p {
  line-height: 24px;
}

p.small-text {
  font-size: 0.8125em;
}

blockquote {
  font-size: 1.875em;
  font-weight: 300;
  line-height: 1.2em;
}

em {
  font-style: italic;
}

cite {
  position: relative;
  font-size: 1.125em;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
  color: #484354;
}

.wrapper {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.wrapper--small {
  max-width: 800px;
}

section {
  width: 100%;
  position: relative;
  padding: 80px 0 100px 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

.top-section {
  margin-top: 90px;
}

.button {
  padding: 12px 28px;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  border-radius: 6px;
  background: #d4efe4;
}
.button:hover {
  background: #e3f5ed;
}

button {
  background: none;
  outline: none;
  border: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 90px;
  background: white;
  float: left;
  border-bottom: 1px solid #ECECEC;
}
header .logo {
  float: left;
  padding: 17px 0;
  width: 130px;
  height: 75px;
}
header .header__search {
  float: right;
  margin-left: 10px;
  padding: 34px 0;
  height: 90px;
  width: 20px;
}
header nav {
  float: right;
}
header nav ul li {
  padding: 35px 20px;
  display: inline-block;
  float: left;
}
header nav ul li a {
  display: block;
}

section#hero-slider {
  width: 100%;
  padding: 0;
  background: #f8f8f8;
}
section#hero-slider ul li {
  width: 100%;
  height: 450px;
  position: relative;
}
section#hero-slider ul li .text-slider {
  width: 40%;
  float: left;
}
section#hero-slider ul li .text-slider blockquote {
  line-height: 40px;
  font-size: 40px;
}
section#hero-slider ul li .text-slider cite {
  float: left;
  margin-top: 20px;
}
section#hero-slider ul li .text-slider cite .quotes-icon {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #92c7b1;
}
section#hero-slider ul li .text-slider cite p {
  float: left;
  padding: 3px 0 0 8px;
  color: #92c7b1;
  font-weight: 700;
}
section#hero-slider ul li .slider-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 500px;
  float: right;
  background: red;
  width: 300px;
}

section#bite-size {
  background: #e7f6f0;
  height: 1130px;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
section#bite-size p {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
section#bite-size ul:after {
  content: "";
  display: table;
  clear: both;
}
section#bite-size ul li {
  position: relative;
  width: 23.875%;
  margin: 0.8% 1.5%;
  background: red;
  float: left;
  border-radius: 6px;
  overflow: hidden;
}
section#bite-size ul li:nth-child(1n) {
  margin-left: 0;
}
section#bite-size ul li:nth-child(4n) {
  margin-right: 0;
}
section#bite-size ul li .bite-size__title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
  font-size: 18px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  padding: 12px 0;
  -webkit-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  transition: all .3s ease-in-out;
}
section#bite-size ul li:hover .bite-size__title {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  padding-top: 90px;
}
section#bite-size .bite-size__view-more-button {
  position: absolute;
  bottom: 15px;
  width: 140px;
  right: 50%;
  left: 50%;
  margin-left: -75px;
  background: none;
  border: 2px solid black;
}
section#bite-size .load-more-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 120px;
}
section#bite-size .load-more-container__filler {
  height: 140px;
  background: #e7f6f0;
  bottom: -100px;
}

.auto-height {
  height: auto !important;
  transition: all 3s ease-in-out;
}

section#home-video-intro {
  background: url(./img/video-bg-img.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding: 140px 0 140px 0;
}
section#home-video-intro .play-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
section#home-video-intro p {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px black;
}

section#in-depth {
  width: 100%;
}
section#in-depth h3 {
  text-align: center;
}
section#in-depth h4 {
  font-size: 32px;
}
section#in-depth p {
  text-align: center;
}
section#in-depth ul {
  margin-top: 40px;
}
section#in-depth ul li {
  border-bottom: 1px solid #f7f7f7;
  padding: 30px 0 38px 0;
  opacity: 0.8;
  transition: background-color .3s ease-in-out;
}
section#in-depth ul li:hover {
  background: #d4efe4;
  opacity: 1;
}
section#in-depth ul li h4 {
  text-align: center;
  padding-bottom: 10px;
}
section#in-depth ul li p {
  text-align: center;
}
section#in-depth p.small-text {
  max-width: 40%;
  margin: 0 auto;
}

/* ----------------------------------------------------------------- Single page template */
.wrapper--small p {
  padding-bottom: 20px;
}

.header-hero-image {
  width: 100%;
  background: red;
  height: 200px;
}
.header-hero-image h1 {
  padding-top: 70px;
  font-weight: 300;
  color: white;
  text-align: center;
}

body.page-template-template_single ul, body.page-template-Bite-size-preview ul, body.page-template-template-in-depth-single ul {
  margin-left: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
body.page-template-template_single ul li, body.page-template-Bite-size-preview ul li, body.page-template-template-in-depth-single ul li {
  list-style-type: disc;
}
body.page-template-template_single h4, body.page-template-Bite-size-preview h4, body.page-template-template-in-depth-single h4 {
  margin-top: 20px;
}

body.page-template-Bite-size-preview section#bite-size {
  margin-top: 90px;
  height: auto;
}
body.page-template-Bite-size-preview .wrapper:after {
  content: "";
  display: table;
  clear: both;
}
body.page-template-Bite-size-preview ul {
  margin-left: 20px;
}
body.page-template-Bite-size-preview ul:after {
  content: "";
  display: table;
  clear: both;
}
body.page-template-Bite-size-preview ul li {
  list-style-type: none;
}

/* ----------------------------------------------------------------- Single in-depth template */
body.page-template-template-in-depth-single {
  background: #f7f7f7;
}
body.page-template-template-in-depth-single section {
  padding-top: 60px;
}

.author-details {
  width: 100%;
  background: white;
  border-bottom: 2px solid #92c7b1;
  padding: 30px;
  margin-bottom: 30px;
}
.author-details:after {
  content: "";
  display: table;
  clear: both;
}
.author-details .person_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  float: left;
}
.author-details .person-name-title {
  padding-top: 10px;
}
.author-details .person-name-title .person_name {
  font-size: 20px;
  font-weight: 300;
}

footer {
  position: relative;
  padding: 40px 0;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
}
footer .scroll-to-top {
  width: 40px;
  opacity: 0.2;
  padding: 6px 5px;
  height: 40px;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  position: absolute;
  right: 50px;
  top: 30px;
  cursor: pointer;
}
footer .scroll-to-top:hover {
  background: #d4efe4;
  opacity: 1;
}

/* ----------------------------------------------------------------- Lightbox */
section#lightbox {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  color: black;
}
section#lightbox button.close {
  position: absolute;
  top: 20px;
  right: 20px;
}
section#lightbox h1 {
  margin-bottom: 20px;
  text-align: left;
  color: black;
  text-shadow: none;
}
section#lightbox p {
  padding-bottom: 0;
}
section#lightbox .wrapper--small {
  position: relative;
  margin: 0 auto;
  padding: 30px 40px;
  background: white;
}
section#lightbox .wrapper--small .left-column {
  float: left;
  width: 55%;
}
section#lightbox .wrapper--small .left-column .address {
  padding-bottom: 20px;
}
section#lightbox .wrapper--small .right-column {
  float: right;
  width: 40%;
  padding-top: 70px;
}
section#lightbox a {
  display: inline-block;
  text-decoration: underline;
}

/* ----------------------------------------------------------------- Override contact form styling */
input, textarea, .wpcf7-submit {
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  padding: 12px;
  outline: 0;
  border: 0;
  font-size: 14px;
  background: none;
  color: white;
  border: 1px solid #aeaeae;
  resize: vertical;
  box-shadow: none !important;
  -webkit-border-radius: 6px;
}
@media (min-width: 768px) {
  input, textarea, .wpcf7-submit {
    margin: 10px 0;
    transition: letter-spacing .3s ease-in-out;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black !important;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black !important;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black !important;
}

.wpcf7-submit:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

div.wpcf7 {
  font-family: "proxima-nova", sans-serif;
}

.wpcf7-form input[type="submit"] {
  background: none;
  outline: 0;
  margin-top: 5px;
  color: white;
  font-family: "proxima-nova", sans-serif;
  border: 0;
  background: #92c7b1;
  color: white;
  padding: 14px 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ajax-loader {
  display: none !important;
}

.wpcf7-form, .sent {
  position: relative !important;
  height: 520px;
}
.wpcf7-form .wpcf7-response-output, .sent .wpcf7-response-output {
  position: absolute !important;
  bottom: 68px !important;
  width: 100% !important;
  color: white !important;
  color: white !important;
  text-align: center !important;
  padding: 10px 0 !important;
  margin: 0 !important;
  background: #00d67e !important;
  border: none !important;
}
@media (min-width: 768px) {
  .wpcf7-form .wpcf7-response-output, .sent .wpcf7-response-output {
    bottom: 61px !important;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
