

/* ----------------------------------------------------------------- single globals */
body, html{
	min-width:320px;
}
.wrapper{
	max-width:1280px;
	padding:0 20px;
	margin: 0 auto;
	position:relative;
}

.wow {
  visibility: hidden;
}

.bx-has-pager{
	display:none;

	@include screen (medium){
		display: block;
	}
}

.wrapper--small{
	max-width:800px;

	h1{
		text-shadow:none;
		padding-bottom:10px;
	}

	span.underline{
		margin:auto;
		float: left !important;
		clear:both;
	}
}

.no-pad-bottom{
	padding-top:40px;
	padding-bottom:0;
	background:#f7f7f7;
}

.text-container{
	clear:both;
	margin-top:20px;
}

.m-top{
	margin-top:60px;

	@include screen(medium){
		margin-top:60px;
	}
}

// add header spacing for anchor scrolling
.anchor{
  display: block;
  height: 120px; /*same height as header*/
  margin-top: -120px; /*same height as header*/
  visibility: hidden;
}

section{
	width:100%;
	position:relative;
	padding:40px 0 50px 0;
	@include clearfix;

	@include screen(medium){
		padding:80px 0 100px 0;
	}
}

.top-section{
	margin-top:90px;
}

.button{
	padding:12px 28px;
	text-align:center;
	display: inline-block;
	margin: 30px auto;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background:$swans-down;

	&:hover{
		background:lighten($swans-down, 4%);
	}
}

button{
	background: none;
	outline: none;
	border: none;
}

span.underline{
	width:40px;
	height:1px;
	background:$shadow-green;
	display:block;
	margin: 0 auto;
	margin-bottom:18px;
}



/* ----------------------------------------------------------------- Header */

header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	height:90px;
	background:white;
	float:left;
	border-bottom: 1px solid #ECECEC;

	.logo{
		float:left;
		padding:17px 0;
		// width:120px;
		// height:75px;

		width:130px;
		height:75px;
	}

	.header__search{
		float:right;
		margin-left:10px;
		padding:34px 0;
		height:90px;
		width:20px;
		
	}

	nav{
		float:right;

	
		ul{
			li{
				// padding:27px 20px;
				padding:35px 20px;
				display: inline-block;
				float:left;
				a{
					display:block;
				}

				&:nth-child(5){
					padding-right:0;
				}
			}
		}
		
	}

	//Mobile nav styling

	nav.mobile{
		float:left;
		width:100%;
		position:relative;
		z-index: 100;
		top:0px;
		left:-20px;

	
		ul{
			@include clearfix;
			float:left;
			width:120%;
			padding-bottom:20px;
			background:white;
			display: none;

			li{
				width:100%;
				// padding:27px 20px;
				padding:20px 20px;
				display: block;
				clear:both;


				a{
					display:block;
				}
				
			}
		}
		
	}

}

button.burger-menu{
	width:65px;
	height:90px;
	padding: 12px 0 0 10px;
	float:right;
	display:block;

	@media (min-width:690px){
		display: none !important;
	}
}


//Hamburger menu icon

#nav-icon3 span:nth-child(1) {
  top: 2px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px;
}

#nav-icon3.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 22px;
  width: 0%;
  left: 50%;
}

#nav-icon3{
  width: 30px;
  height: 45px;
  float: right;
  margin-right: 0px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #315b90;
  // border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* ----------------------------------------------------------------- Hero slider */

.gallery-cell{
	width:100%;
	padding:0;
	margin-top:88px;
	background:#e7f6f0;



			strong{
				font-weight:bold;
			}

			img{
				width:100%;
			}


			.text-slider{
				width:100%;
				position:relative;
				float:left;
				padding-left:40px;
				opacity:0;
				transform: translate(60px, 0px);

				transition: all 1.6s ease-in-out;

				@include screen (medium){
					width:40%;
					position:absolute;
				}

				blockquote{
					line-height:40px;
					font-size:40px;
					padding-top:20px;
					padding-bottom:30px;
					background:white;

					@include screen (medium){
						padding-top:25%;
						padding-bottom:0px;
						background:none;
					}
					p{

						  text-align: center;
						  font-size: 20px;
						  padding-top: 10px;
						  line-height: 22px;


						  @include screen (medium){
							line-height:40px;
							font-size:40px;
							text-align:left;
						  }
					}
				}

				cite{
					float:left;
					margin-top:20px;

					display:none;

					@include screen (medium){
						display:block;
					}

					.quotes-icon{
						float:left;
						width:30px;
						height:30px;
					
					}
					p{
						float:left;
						padding:3px 0 0 8px;
						color:$shadow-green;
						font-weight: 700;
					}
				}
			}

			.slider-image{
				position:absolute;
				bottom:0;
				right:0;
				height:500px;
				float:right;
				background:red;
				width:300px;
			}

}

.is-selected{
	.text-slider{
		opacity:1 !important;
		transform: translate(0px, 0px);
	}
}

/* ----------------------------------------------------------------- Bite-size section */

section#bite-size{
	background:lighten($swans-down,5%);
	height:1130px;
	overflow:hidden;

	transition: all 3s ease-in-out;

	h1{
		text-align:center;
	}
	
	p{
		max-width:90%;
		margin:0 auto;
		text-align: center;
		margin-bottom:40px;

		@include screen(medium){
			max-width:60%;
		}
	}

	ul{
		@include clearfix;

		li{
			// position:relative;
			// width:48.5%;
			// margin:1.6% 3%;
			// float:left;
			// border-radius:6px;
			// -moz-border-radius:6px;
			// -webkit-border-radius:6px;
			// overflow:hidden;


			position:relative;
			width:100%;
			margin-left:auto;
			margin-right:auto;
			float:left;

			margin-top:1.6%;
			margin-bottom:1.6%;
			border-radius:6px;
			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			overflow:hidden;

			img{
				width:100%;
			}

			.link-arrow{
				width:100px;
				height:50px;
				background:red;
				position:absolute;
			}

			&:nth-child(1n){
				margin-left:0;
			}

			&:nth-child(2n){
				margin-right:0;
			}

			.bite-size__title{
				position:absolute;
				bottom:0px;
				width:100%;
				height:200px;
				font-size: 16px;
				font-weight: 400;
				background:rgba(0,0,0,.6);
				text-align: center;
				color:white;
				padding:12px 0;

				transform: translate(00px, 150px);

				transition: all .3s ease-in-out;

				// transform: padding-top .4s ease-in-out;
			}

			@media (min-width:400px){
				&:nth-child(2n){
					margin-right:1.5%;
				}
				&:nth-child(4n){
					margin-right:1.5%;
				}

				width:32.33%;
				margin:0.8% 1.5%;

				&:nth-child(1n){
					margin-left:0;
				}
				&:nth-child(3n){
					margin-right:0%;
				}
			}


			@include screen(medium){

				&:nth-child(2n){
					margin-right:1.5%;
				}

				&:nth-child(3n){
					margin-right:1.5%;
				}

				width:23.875%;

				margin:0.8% 1.5%;


				&:nth-child(1n){
					margin-left:0;
				}

				&:nth-child(4n){
					margin-right:0;
				}

				.bite-size__title{
					font-size: 18px;
				}
			}

			&:hover{
				.bite-size__title{
					transform: translate(00px, 0px);
					padding-top:90px;
				}
			}
		}
	}
	.bite-size__view-more-button{
		position:absolute;
		bottom:17px;
		width:140px;
		right:50%;
		left:50%;
		margin-left:-75px;
		background:none;
		border: 2px solid black;
	}

	.load-more-container{
		position:absolute;
		bottom:100px;
		width:100%;
		height:120px;

		// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
		// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjZmMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U3ZjZmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2Y2ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		// background: -moz-linear-gradient(top,  rgba(231,246,240,0) 0%, rgba(231,246,240,1) 60%, rgba(231,246,240,1) 100%); /* FF3.6+ */
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,246,240,0)), color-stop(99%,rgba(231,246,240,1)), color-stop(100%,rgba(231,246,240,1))); /* Chrome,Safari4+ */
		// background: -webkit-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 60%,rgba(231,246,240,1) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 60%,rgba(231,246,240,1) 100%); /* Opera 11.10+ */
		// background: -ms-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 60%,rgba(231,246,240,1) 100%); /* IE10+ */
		// background: linear-gradient(to bottom,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 60%,rgba(231,246,240,1) 100%); /* W3C */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e7f6f0', endColorstr='#e7f6f0',GradientType=0 ); /* IE6-8 */

	}

	.load-more-container__filler{
		height:140px;
		background:#e7f6f0;
		bottom:-100px;
	}

}

.auto-height{
	height:auto !important;
	transition: all 3s ease-in-out;
}



section#home-video-intro{
	background: url(./img/video-bg-image.png) 50% 50% no-repeat;
	background-size:cover;
	padding: 140px 0 140px 0;

	.play-button{
		width:80px;
		height:80px;
		margin: 0 auto;
	}

	p{
		color:white;
		text-align: center;
		font-size:18px;
		margin-top:20px;
		text-shadow:1px 1px 1px black
	}
}

/* ----------------------------------------------------------------- In depth section */
section#in-depth{
	width:100%;

	h3{
		text-align: center;
	}

	h4{
		font-size: 26px;

		 @include screen (medium){
		    font-size: em(32px);
		  }
	}
	p{
		text-align: center;
	}

	.in-depth--excerpt{
		display:none;
		@include screen (medium){
			display: block;
			opacity:0;
		transform: translate(0px, -10px);
		transition: opacity .6s ease-in-out;
		}
	}

	ul{
		margin-top:40px;

		li{
			border-bottom:1px solid #EFEFEF;
			padding:60px 0 68px 0;
			opacity:0.8;
			text-align:center;
			padding-left:20px;
			padding-right:20px;

			transition: background-color .3s ease-in-out;
			// transition: opacity .3s ease-in-out;

			&:hover{
				background:$swans-down;
				opacity:1;

				h4{
					transform: translate(0px, -15px);
				}

				.in-depth--excerpt{
					opacity: 1;
					// transform: translate(0px, -10px);

				}

				span.read-more{
					transform: translate(0px, 5px) !important;
					color:#565656;
					opacity:0.3;
				}
			}


			h4{
				text-align: center;
				padding-bottom:10px;

				transform: translate(0px, 0px);

				transition: transform .4s ease-in-out;
			}
			p{
				text-align: center;
			}
		}
	}
	p.small-text{
		max-width:80%;
		margin: 30px auto 0 auto;
		line-height: 18px;

		@include screen (medium){
			max-width:40%;
		}
	}

	span.read-more{
		text-align: center;
		left:50%;
		right:50%;
		width:120px;
		font-style:italic;
		margin-left:-60px;
		display: block;
		position:absolute;
		transform: translate(0px, -10px);
		color:$shadow-green;

		transition: transform .4s ease-in-out;
	}
}



/* ----------------------------------------------------------------- Single page template */


.wrapper--small{
	p{
		padding-bottom:20px;
	}
}

.header-hero-image{
	width:100%;
	background:red;
	height:200px;
	
	h1{
		padding-top:70px;
		font-weight: 300;
		color:white;
		text-align:center;
	}
}


body.page-template-template_single, body.page-template-Bite-size-preview, body.page-template-template-in-depth-single{

	// ul{
	// 	margin-left:20px;
	// 	margin-left:40px;
	// 	margin-bottom:20px;

	// 	li{
	// 		list-style-type: disc;
	// 	}
	// }

	h4{
		margin-top:20px;
	}
}

body.page-template-Bite-size-preview{

	section#bite-size{
		// margin-top:90px;
		height:auto;
	}


	.wrapper{
		@include clearfix;
	}
	ul{
		margin-left:0px;
		@include clearfix;

		li{
			list-style-type: none;
		}
	}
}


/* ----------------------------------------------------------------- Single in-depth template */


body.page-template-template-in-depth-single{
	background:#f7f7f7;

	section{
		padding-top:60px;
	}
}

.author-details{
	width:100%;
	background:white;
	border-bottom:2px solid $shadow-green;
	padding:30px;
	@include clearfix;
	margin-bottom:30px;

	.person_image{
		width:100px;
		height:100px;
		border-radius:50%;
		-o-border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		overflow:hidden;
		margin-right:20px;
		float:left;
	}
	.person-name-title{
		// float:left;
		padding-top:13px;

		.person_name{
			font-size:20px;
			font-weight: 300;
		}
		.person_title{
			margin-top:10px;
		}
	}
}

.indent{
	padding-left:20px;
}

.glossary-container{
	margin-top:20px;
}

footer{
	position:relative;
	padding:40px 0;
	width:100%;
	background:#747474;
	color:white;
	text-align:center;
	
	.scroll-to-top{
		width:40px;
		opacity:0.2;
		padding:6px 5px;
		height:40px;
		background:rgba(255,255,255,0.5);
		border-radius:50%;
		-o-border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		position:absolute;
		right:50px;
		top:34px;
		cursor:pointer;
		display: none;

		@media (min-width:500px){
			display: block;
		}

		transition: background .5s ease-in-out;

		&:hover{
			background:$swans-down;
			opacity:1;
		}

	}

}


/* ----------------------------------------------------------------- Homepage video lightbox */


section#video-lightbox{
	
	.wrapper{
		max-width:900px;
		margin: 0 auto;
		height:500px;
		background:none;
		text-align:center;
		color:white;
		font-size: 26px;


		button.close{
			position:absolute;
			top:20px;
			right:0px;
		}
	}


}


/* ----------------------------------------------------------------- Lightbox */


.lightbox{
	display:none;
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	position:fixed;
	z-index:999;
	color:black;
	padding-top:0;
	padding-bottom:0;

	button.close{
		position:absolute;
		top:28px;
			right:17px;
	}
}

section#lightbox{

	h1{
		margin-bottom:20px;
		text-align: left;
		color:black;
		text-shadow:none;
	}

	p{
		padding-bottom:0;
	}
	.opening-hours{
		margin-top:20px;
	}
	button.close{
		position:absolute;
		top:28px;
			right:17px;
	}

	.wrapper{
		position:relative;
		max-width:900px;
		margin: 0 auto;
		padding:30px 40px;
		background:white;

		span.underline{
			float:left !important;
		}

		.address{

		}
		.left-column{
			width:100%;
			float:left;

			h1{
				padding-bottom:0;
			}

			@include screen (medium){
				width:55%;	
			}
			
			.address{
				padding-bottom:20px;
			}
		}

		.right-column{
			float:right;
			width:100%;
			padding-top:82px;
			display: none;


			@include screen (medium){
				width:40%;
				display: block;
			}

		}	
	}
	a{
		display:inline-block;
		text-decoration:underline;
	}

}

.lightbox{
	padding:40px;

	@include screen (medium){
		padding: 0 40px 0 40px;
	}
	.wrapper{
		height:400px;
		overflow:scroll;

		@include screen (medium){
			height:auto;
		}
		button.close{
			top:28px;
			right:17px;
		}
	}

}

.contact-lightbox .wrapper{
	margin-top:60px !important;
}



/* ----------------------------------------------------------------- Next and previous arrows */

.nex-prev-posts{
	margin-top:60px;
	background:white;
	padding:0 20px;
	width:100%;
	@include clearfix;

	ul.single-article-next-prev-nav{
		width:100%;
		max-width:760px;
		margin: 0 auto;

		li{
			width:33.3%;
			float:left;
			padding:40px 0;


			&:nth-child(3){
				text-align: right;
			}

			&:nth-child(2){
				text-align: center;
			}

			a{
				display: block;
			}
		}
		li.next-post{
			text-align: right !important;
		}
	}
}






/* ----------------------------------------------------------------- Override contact form styling */


.wpcf7-validation-errors{
	display:none !important;
}

input, textarea, .wpcf7-submit{
  width:100%;
  font-family:$b-font;
  padding:12px;
  outline: 0;
    border: 0;
    font-size:14px;
    background:none;
    color:#565656;
    border: 1px solid #aeaeae;
    resize: vertical;
    box-shadow: none !important;
    //iPhone overrride
    -webkit-border-radius:6px; 
    border-radius:6px; 
    -o-border-radius:6px; 
    
    @include screen (medium){
      margin: 10px 0;
      transition: letter-spacing .3s ease-in-out;
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
      color:    #565656 !important;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #565656 !important;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #565656 !important;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #565656 !important;
  }

.wpcf7-submit:hover{
  letter-spacing:1px;
  cursor:pointer;
}

div.wpcf7{
  font-family:$b-font;
}

.wpcf7-form input[type="submit"] {
  background: none;
  outline: 0;
  margin-top:5px;
  color:white;
  font-family:$b-font;
  border: 0;
  background:$shadow-green;
  color:white;
  padding:14px 0;
  
  text-align: center;
  
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  

}

 .ajax-loader{
    display:none !important;
  }

.wpcf7-form, .sent{
  position:relative !important;
  height:520px;
  
  .wpcf7-response-output{
    position:absolute !important;
    bottom:0px !important;
    width:100% !important;
    color:white !important;
    color: white !important;
      text-align: center !important;
      padding: 10px 0 !important;
      margin: 0 !important;
      background: #00d67e !important;
      border: none !important;
  
      @include screen (medium){
        bottom:61px !important;
      }
  }
  
}

button{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* ----------------------------------------------------------------- Active header links */

body.about-us .nav ul li a.nav-about-us, body.bite-size .nav ul li a.nav-bite-size, body.glossary .nav ul li a.nav-glossary{

	&:after{
		content:"";
		position:absolute;
		left:0;
		top:22px;
		width:100%;
		height:2px;
		background:#92c7b1;
	}
}


body.about-us nav.mobile ul li a.nav-about-us, body.bite-size nav.mobile ul li a.nav-bite-size, body.glossary nav.mobile ul li a.nav-glossary{

	&:after{
		content:"";
		position:absolute;
		left:0;
		top:22px;
		width:100%;
		height:2px;
		background:white !important;
	}
}


.gallery-cell {
  width: 100%;
  background: #8C8;
  counter-increment: gallery-cell;
}


/*! Flickity v1.0.2
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30); /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}



/* ----------------------------------------------------------------- CSS animation library */

@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}





