

.wrapper{
	max-width:1280px;
	padding:0 20px;
	margin: 0 auto;
	position:relative;
}

section{
	width:100%;
	position:relative;
	padding:80px 0 100px 0;
	@include clearfix;
}

.button{
	padding:12px 28px;
	text-align:center;
	display: inline-block;
	margin: 30px auto;
	border-radius:6px;
	background:$swans-down;

	&:hover{
		background:lighten($swans-down, 4%);
	}
}

header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	height:90px;
	background:white;
	float:left;
	border-bottom: 1px solid #ECECEC;

	.logo{
		float:left;
		padding:17px 0;
		// width:120px;
		// height:75px;

		width:130px;
		height:75px;
	}

	.header__search{
		float:right;
		margin-left:10px;
		padding:34px 0;
		height:90px;
		width:20px;
		
	}

	nav{
		float:right;

	
		ul{
			li{
				// padding:27px 20px;
				padding:35px 20px;
				display: inline-block;
				float:left;
				a{
					display:block;
				}
			}
		}
		
	}
}


section#hero-slider{
	width:100%;
	height:600px;
	background:grey;

}


section#bite-size{
	background:lighten($swans-down,5%);
	height:1130px;
	overflow:hidden;

	transition: all 3s ease-in-out;

	h2{

	}
	
	p{
		max-width:60%;
		margin:0 auto;
		text-align: center;
		margin-bottom:40px;
	}

	ul{
		@include clearfix;

		li{
			width:23.875%;
			height:200px;
			margin:0.8% 1.5%;
			background:red;
			float:left;
			border-radius:6px;

			&:nth-child(1n){
				margin-left:0;
			}

			&:nth-child(4n){
				margin-right:0;
			}
		}
	}
	.bite-size__view-more-button{
		position:absolute;
		bottom:15px;
		width:140px;
		right:50%;
		left:50%;
		margin-left:-75px;
		background:none;
		border: 2px solid black;
	}

	.load-more-container{
		position:absolute;
		bottom:100px;
		width:100%;
		height:120px;

		// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
		// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjZmMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U3ZjZmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2Y2ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		// background: -moz-linear-gradient(top,  rgba(231,246,240,0) 0%, rgba(231,246,240,1) 99%, rgba(231,246,240,1) 100%); /* FF3.6+ */
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,246,240,0)), color-stop(99%,rgba(231,246,240,1)), color-stop(100%,rgba(231,246,240,1))); /* Chrome,Safari4+ */
		// background: -webkit-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 99%,rgba(231,246,240,1) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 99%,rgba(231,246,240,1) 100%); /* Opera 11.10+ */
		// background: -ms-linear-gradient(top,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 99%,rgba(231,246,240,1) 100%); /* IE10+ */
		// background: linear-gradient(to bottom,  rgba(231,246,240,0) 0%,rgba(231,246,240,1) 99%,rgba(231,246,240,1) 100%); /* W3C */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e7f6f0', endColorstr='#e7f6f0',GradientType=0 ); /* IE6-8 */

	}

	.load-more-container__filler{
		height:140px;
		background:#e7f6f0;
		bottom:-100px;
	}

}

.auto-height{
	height:auto !important;
	transition: all 3s ease-in-out;
}



section#home-video-intro{
	background: url(./img/video-bg-img.jpg) 50% 50% no-repeat;
	background-size:cover;
	padding: 140px 0 140px 0;

	.play-button{
		width:80px;
		height:80px;
		margin: 0 auto;
	}

	p{
		color:white;
		text-align: center;
		font-size:18px;
		margin-top:20px;
		text-shadow:1px 1px 1px black
	}
}


section#in-depth{
	width:100%;
	h3{
		text-align: center;
	}
	p{
		text-align: center;
	}

	ul{
		margin-top:40px;

		li{
			border-bottom:1px solid #f7f7f7;
			padding:30px 0 38px 0;
			opacity:0.8;

			transition: background-color .3s ease-in-out;
			// transition: opacity .3s ease-in-out;

			&:hover{
				background:$swans-down;
				opacity:1;
			}

			h4{
				text-align: center;
				padding-bottom:10px;
			}
			p{
				text-align: center;
			}
		}
	}
	p.small-text{
		max-width:40%;
		margin: 0 auto;
	}
}


footer{
	position:relative;
	padding:40px 0;
	width:100%;
	background:#f7f7f7;
	text-align:center;
	
	.scroll-to-top{
		width:40px;
		opacity:0.2;
		padding:6px 5px;
		height:40px;
		background:rgba(0,0,0,0.23);
		border-radius:50%;
		position:absolute;
		right:50px;
		top:30px;
		cursor:pointer;

		&:hover{
			background:$swans-down;
			opacity:1;
		}

	}

}







