
$b-font: "proxima-nova", sans-serif;

// @font-face {
//     font-family: 'Constantia';
//     src: url('./fonts/Constantia.eot');
//     src: url('./fonts/Constantia.eot') format('embedded-opentype'),
//          url('./fonts/Constantia.woff2') format('woff2'),
//          url('./fonts/Constantia.woff') format('woff'),
//          url('./fonts/Constantia.ttf') format('truetype'),
//          url('./fonts/Constantia.svg#Constantia') format('svg');
// }

//Base font
$base-font-size: 16px;

body, html{
  font-family: $b-font;
  font-size: $base-font-size;
  line-height:22px;
}


h1,h2,h3,h4,h5,p,a{
  font-family: $b-font;
  line-height: 1.3em;
  position:relative;
}


h1{
  font-size: em(42px);
  font-weight:100;

  text-shadow: 1px 1px 1px black;
  
  // @include screen (medium){
  //   font-size: em(62px);
  //   line-height:0.9em;
  // }
}


h2{
  font-size: em(28px);
  font-weight:300;
  padding-bottom:10px;
  text-align: center;

  @include screen (medium){
    font-size: em(38px);
  }
}

h3{
  font-size: em(26px);
  font-weight:300;
  padding-bottom:10px;

  @include screen (medium){
    font-size: em(32px);
  }
}

h4{
  font-size: em(20px);
  font-weight:300;
  padding-bottom:10px;

  @include screen (medium){
    font-size: em(24px);
  }
}

p{
  line-height: 24px;
}

p.small-text{
  font-size: em(13px);
}

blockquote{
  font-size: em(30px);
  font-weight:300;
  line-height:1.2em;

}

em{
  font-style: italic;
}

cite{
  position:relative;
  font-size: em(18px);
  font-weight:300;
  color:white;
  letter-spacing:1px;
  font-weight:100;
  color:#484354;
  
  // @include screen (medium){
  //   font-size: em(22px);
  
  // }
}